* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

.container {
  position: relative;
  width: 1200px;
  height: 700px;
  text-align: center;
}

.content {
  position: relative;
  padding: 20px 0;
  display: inline-block;
}

.img {
  position: relative;
}

.discount {
  position: absolute;
  right: 0;
  background: lightgreen;
  padding: 2px;
}

.content:nth-child(3n+2) .discount {
  background-color: orange;
}
